
<!DOCTYPE html>
<html>
<head>
  <title>LED Control</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script>
    $(function() {
      class Slider {
        constructor(sliderContainer, lowerInput, higherInput, minValue, maxValue, step) {
          this.sliderContainer = sliderContainer;
          this.lowerInput = lowerInput;
          this.higherInput = higherInput;
          this.minValue = minValue;
          this.maxValue = maxValue;
          this.step = step;
          this.lowerValue = parseFloat($(this.lowerInput).val());
          this.higherValue = parseFloat($(this.higherInput).val());
        }
    
        createSlider() {
          $(this.sliderContainer).slider({
            min: this.minValue,
            max: this.maxValue,
            step: this.step,
            values: [this.lowerValue, this.higherValue],
            slide: (event, ui) => {
              if (ui.values[0] >= ui.values[1]) {
                return false;
              }
              $(this.lowerInput).val(ui.values[0]);
              $(this.higherInput).val(ui.values[1]);
            }
          });
          
          $(this.lowerInput).change(() => {
            var value = parseFloat($(this.lowerInput).val());
            if (value < this.minValue) {
              value = this.minValue;
            } else if (value > $(this.higherInput).val()) {
              value = $(this.higherInput).val();
            }
            $(this.sliderContainer).slider("values", 0, value);
            $(this.lowerInput).val(value);
          });
          
          $(this.higherInput).change(() => {
            var value = parseFloat($(this.higherInput).val());
            if (value > this.maxValue) {
              value = this.maxValue;
            } else if (value < $(this.lowerInput).val()) {
              value = $(this.lowerInput).val();
            }
            $(this.sliderContainer).slider("values", 1, value);
            $(this.higherInput).val(value);
          });
        }
      }
      
      class BrightnessSlider extends Slider {
        constructor(sliderContainer, lowerInput, higherInput) {
          super(sliderContainer, lowerInput, higherInput, 0, 255, 1);
        }
      }
      
      class FrequencySlider extends Slider {
        constructor(sliderContainer, lowerInput, higherInput) {
          super(sliderContainer, lowerInput, higherInput, 100, 5000, 1);
        }
      }
      
      class SleepSlider extends Slider {
        constructor(sliderContainer, lowerInput, higherInput) {
          super(sliderContainer, lowerInput, higherInput, 0, 1, 0.01);
        }
      }
    
      const brightnessRedSlider = new BrightnessSlider("#brightnessRed", "#minBrightnessRed", "#maxBrightnessRed");
      brightnessRedSlider.createSlider();
    
      const freqRedSlider = new FrequencySlider("#freqRed", "#minFreqRed", "#maxFreqRed");
      freqRedSlider.createSlider();
    
      const brightnessGreenSlider = new BrightnessSlider("#brightnessGreen", "#minBrightnessGreen", "#maxBrightnessGreen");
      brightnessGreenSlider.createSlider();
    
      const freqGreenSlider = new FrequencySlider("#freqGreen", "#minFreqGreen", "#maxFreqGreen");
      freqGreenSlider.createSlider();

      const brightnessBlueSlider = new FrequencySlider("#freqBlue", "#minFreqBlue", "#maxFreqBlue");
      brightnessBlueSlider.createSlider();

      const freqBlueSlider = new FrequencySlider("#freqBlue", "#minFreqBlue", "#maxFreqBlue");
      freqBlueSlider.createSlider();
    
      const sleepSlider = new SleepSlider("#sleepSlider", "#minSleep", "#maxSleep");
      sleepSlider.createSlider();
    });
  </script>
</head>
<body>
  <h1>LED Control</h1>
  
  <h2>Turn all LEDs OFF</h2>
  <form action="{{ url_for('process_turnoff') }}" method="post">
    <button type="submit">OFF</button>
  </form>

  <h2>Rainbow</h2>
  <form action="{{ url_for('process_rainbow') }}" method="post">
    <button type="submit">Start rainbow</button>
  </form>

  <h2>Fireplace</h2>
  <form action="{{ url_for('process_fireplace') }}" method="post">
    <div class="setting">
      <h3>Red settings</h3>
      <div class="slider-container">
        <label for="minBrightnessRed">Min brightness:</label>
        <input type="text" id="minBrightnessRed" name="minBrightnessRed" value="0">
        <label for="maxBrightnessRed">Max brightness:</label>
        <input type="text" id="maxBrightnessRed" name="maxBrightnessRed" value="255">
        <div class="slider" id="brightnessRed"></div>
      </div>
      <div class="slider-container">
        <label for="minFreqRed">Min frequency:</label>
        <input type="text" id="minFreqRed" name="minFreqRed" value="50">
        <label for="maxFreqRed">Max frequency:</label>
        <input type="text" id="maxFreqRed" name="maxFreqRed" value="200">
        <div class="slider" id="freqRed"></div>
      </div>
    </div>

    <div class="setting">
      <h3>Green settings</h3>
      <div class="slider-container">
        <label for="minBrightnessGreen">Min brightness:</label>
        <input type="text" id="minBrightnessGreen" name="minBrightnessGreen" value="0">
        <label for="maxBrightnessGreen">Max brightness:</label>
        <input type="text" id="maxBrightnessGreen" name="maxBrightnessGreen" value="255">
        <div class="slider" id="brightnessGreen"></div>
      </div>
      <div class="slider-container">
        <label for="minFreqGreen">Min frequency:</label>
        <input type="text" id="minFreqGreen" name="minFreqGreen" value="50">
        <label for="maxFreqGreen">Max frequency:</label>
        <input type="text" id="maxFreqGreen" name="maxFreqGreen" value="200">
        <div class="slider" id="freqGreen"></div>
      </div>
    </div>

    <div class="setting">
      <h3>Blue settings</h3>
      <div class="slider-container">
        <label for="minBrightnessBlue">Min brightness:</label>
        <input type="text" id="minBrightnessBlue" name="minBrightnessBlue" value="0">
        <label for="maxBrightnessBlue">Max brightness:</label>
        <input type="text" id="maxBrightnessBlue" name="maxBrightnessBlue" value="255">
        <div class="slider" id="brightnessBlue"></div>
      </div>
      <div class="slider-container">
        <label for="minFreqBlue">Min frequency:</label>
        <input type="text" id="minFreqBlue" name="minFreqBlue" value="50">
        <label for="maxFreqBlue">Max frequency:</label>
        <input type="text" id="maxFreqBlue" name="maxFreqBlue" value="200">
        <div class="slider" id="freqBlue"></div>
      </div>
    </div>
    
    <div class="setting">
      <h3>Sleep settings</h3>
      <div class="slider-container">
        <label for="minSleep">Min sleep time:</label>
        <input type="text" id="minSleep" name="minSleep" value="0">
        <label for="maxSleep">Max sleep time:</label>
        <input type="text" id="maxSleep" name="maxSleep" value="1">
        <div class="slider" id="sleepSlider"></div>
      </div>
    </div>

    <button type="submit">Start fireplace</button>
  </form>
</body>
</html>