
<!DOCTYPE html>
<html>
<head>
  <title>LED Control</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script>
    $(function() {
      class Slider {
        constructor(sliderContainer, lowerInput, higherInput, minValue, maxValue, step) {
          this.sliderContainer = sliderContainer;
          this.lowerInput = lowerInput;
          this.higherInput = higherInput;
          this.minValue = minValue;
          this.maxValue = maxValue;
          this.step = step;
          this.lowerValue = parseFloat($(this.lowerInput).val());
          this.higherValue = parseFloat($(this.higherInput).val());
        }
    
        createSlider() {
          $(this.sliderContainer).slider({
            min: this.minValue, // minimum value of complete slider
            max: this.maxValue, // maximum value of complete slider
            step: this.step, // Resolution of the slider buttons
            values: [this.lowerValue, this.higherValue], // Store both slider buttons inside values
            slide: (event, ui) => {
              if (ui.values[0] >= ui.values[1]) { // Check if lower value is higher than higher value
                return false; // return false if true, because this is not allowed
              }
              $(this.lowerInput).val(ui.values[0]); // get lower value, store in lowerInput
              $(this.higherInput).val(ui.values[1]); // get higher value, store in higherInput
            }
          });
          
          $(this.lowerInput).change(() => {
            var value = parseFloat($(this.lowerInput).val());
            if (value < this.minValue) {
              value = this.minValue;
            } else if (value > $(this.higherInput).val()) {
              value = $(this.higherInput).val();
            }
            $(this.sliderContainer).slider("values", 0, value);
            $(this.lowerInput).val(value);
          });
          
          $(this.higherInput).change(() => {
            var value = parseFloat($(this.higherInput).val());
            if (value > this.maxValue) {
              value = this.maxValue;
            } else if (value < $(this.lowerInput).val()) {
              value = $(this.lowerInput).val();
            }
            $(this.sliderContainer).slider("values", 1, value);
            $(this.higherInput).val(value);
          });
        }
      }
      
      // Create same slider but change lower input, higherinput and step resolution
      class BrightnessSlider extends Slider {
        constructor(sliderContainer, lowerInput, higherInput) {
          super(sliderContainer, lowerInput, higherInput, 0, 255, 1);
        }
      }
      
      class FrequencySlider extends Slider {
        constructor(sliderContainer, lowerInput, higherInput) {
          super(sliderContainer, lowerInput, higherInput, 50, 1000, 1);
        }
      }
      
      class SleepSlider extends Slider {
        constructor(sliderContainer, lowerInput, higherInput) {
          super(sliderContainer, lowerInput, higherInput, 0, 1, 0.01);
        }
      }
      
      // Create JS code behind the sliders in frontend
      const brightnessRedSlider = new BrightnessSlider("#brightnessRed", "#minBrightnessRed", "#maxBrightnessRed");
      brightnessRedSlider.createSlider();
    
      const freqRedSlider = new FrequencySlider("#freqRed", "#minFreqRed", "#maxFreqRed");
      freqRedSlider.createSlider();
    
      const brightnessGreenSlider = new BrightnessSlider("#brightnessGreen", "#minBrightnessGreen", "#maxBrightnessGreen");
      brightnessGreenSlider.createSlider();
    
      const freqGreenSlider = new FrequencySlider("#freqGreen", "#minFreqGreen", "#maxFreqGreen");
      freqGreenSlider.createSlider();

      const brightnessBlueSlider = new BrightnessSlider("#brightnessBlue", "#minBrightnessBlue", "#maxBrightnessBlue");
      brightnessBlueSlider.createSlider();

      const freqBlueSlider = new FrequencySlider("#freqBlue", "#minFreqBlue", "#maxFreqBlue");
      freqBlueSlider.createSlider();
    
      const sleepSlider = new SleepSlider("#sleepSlider", "#minSleep", "#maxSleep");
      sleepSlider.createSlider();

      class PremadeFireplaceHandler {
        constructor(settings) {
          this.settings = settings;
        }
      
        handleSettingsChange() {
          const selectedSetting = $("#premadeSettings").val();
          const selectedValues = this.settings[selectedSetting]; // Get settings from setting list which user picked in frontend
          
          // Update all sliders and text inputs with values from selectedValues
          this.updateSlider(brightnessRedSlider, selectedValues.brightnessRed, "#minBrightnessRed", "#maxBrightnessRed");
          this.updateSlider(freqRedSlider, selectedValues.freqRed, "#minFreqRed", "#maxFreqRed");
          this.updateSlider(brightnessGreenSlider, selectedValues.brightnessGreen, "#minBrightnessGreen", "#maxBrightnessGreen");
          this.updateSlider(freqGreenSlider, selectedValues.freqGreen, "#minFreqGreen", "#maxFreqGreen");
          this.updateSlider(brightnessBlueSlider, selectedValues.brightnessBlue, "#minBrightnessBlue", "#maxBrightnessBlue");
          this.updateSlider(freqBlueSlider, selectedValues.freqBlue, "#minFreqBlue", "#maxFreqBlue");
          this.updateSlider(sleepSlider, selectedValues.sleep, "#minSleep", "#maxSleep");
        }
        
        // Update slider and text inputs when a premade is used from values list which createSlider() creates
        updateSlider(slider, values, lowerInput, higherInput) {
          slider.lowerValue = values[0];
          slider.higherValue = values[1];
          slider.createSlider();
          $(lowerInput).val(values[0]);
          $(higherInput).val(values[1]);
        }
      }
      
      // 3 Premade settings for fireplace
      const settings = {
        redFlame: {
          brightnessRed: [50, 255],
          freqRed: [50, 500],
          brightnessGreen: [0, 4],
          freqGreen: [200, 2000],
          brightnessBlue: [0, 2],
          freqBlue: [100, 2000],
          sleep: [0.07, 0.15]
        },
        greenFlame: {
          brightnessRed: [0, 7],
          freqRed: [200, 2000],
          brightnessGreen: [50, 255],
          freqGreen: [50, 500],
          brightnessBlue: [0, 3],
          freqBlue: [400, 800],
          sleep: [0.07, 0.15]
        },
        blueFlame: {
          brightnessRed: [0, 6],
          freqRed: [200, 2000],
          brightnessGreen: [0, 2],
          freqGreen: [200, 2000],
          brightnessBlue: [50, 255],
          freqBlue: [50, 500],
          sleep: [0.07, 0.15]
        },
      };
      
      // new instance of fireplace handler
      const PremadeFireplaceHandler = new PremadeFireplaceHandler(settings);

      // select html element premadeSettings and change its values with function from fireplace handler class
      $("#premadeSettings").change(() => PremadeFireplaceHandler.handleSettingsChange());
    });
  </script>
</head>
<body>
  <h1>LED Control</h1>
  
  <h2>Turn all LEDs OFF</h2>
  <form action="{{ url_for('process_turnoff') }}" method="post">
    <button type="submit">OFF</button>
  </form>

  <h2>Rainbow</h2>
  <form action="{{ url_for('process_rainbow') }}" method="post">
    <button type="submit">Start rainbow</button>
  </form>

  <h2>Fireplace</h2>
  <form action="{{ url_for('process_fireplace') }}" method="post">
    <div class="setting">
      <h3>Red settings</h3>
      <div class="slider-container">
        <label for="minBrightnessRed">Min brightness:</label>
        <input type="text" id="minBrightnessRed" name="minBrightnessRed" value="0">
        <label for="maxBrightnessRed">Max brightness:</label>
        <input type="text" id="maxBrightnessRed" name="maxBrightnessRed" value="255">
        <div class="slider" id="brightnessRed"></div>
      </div>
      <div class="slider-container">
        <label for="minFreqRed">Min frequency:</label>
        <input type="text" id="minFreqRed" name="minFreqRed" value="100">
        <label for="maxFreqRed">Max frequency:</label>
        <input type="text" id="maxFreqRed" name="maxFreqRed" value="500">
        <div class="slider" id="freqRed"></div>
      </div>
    </div>

    <div class="setting">
      <h3>Green settings</h3>
      <div class="slider-container">
        <label for="minBrightnessGreen">Min brightness:</label>
        <input type="text" id="minBrightnessGreen" name="minBrightnessGreen" value="0">
        <label for="maxBrightnessGreen">Max brightness:</label>
        <input type="text" id="maxBrightnessGreen" name="maxBrightnessGreen" value="3">
        <div class="slider" id="brightnessGreen"></div>
      </div>
      <div class="slider-container">
        <label for="minFreqGreen">Min frequency:</label>
        <input type="text" id="minFreqGreen" name="minFreqGreen" value="200">
        <label for="maxFreqGreen">Max frequency:</label>
        <input type="text" id="maxFreqGreen" name="maxFreqGreen" value="2000">
        <div class="slider" id="freqGreen"></div>
      </div>
    </div>

    <div class="setting">
      <h3>Blue settings</h3>
      <div class="slider-container">
        <label for="minBrightnessBlue">Min brightness:</label>
        <input type="text" id="minBrightnessBlue" name="minBrightnessBlue" value="0">
        <label for="maxBrightnessBlue">Max brightness:</label>
        <input type="text" id="maxBrightnessBlue" name="maxBrightnessBlue" value="2">
        <div class="slider" id="brightnessBlue"></div>
      </div>
      <div class="slider-container">
        <label for="minFreqBlue">Min frequency:</label>
        <input type="text" id="minFreqBlue" name="minFreqBlue" value="200">
        <label for="maxFreqBlue">Max frequency:</label>
        <input type="text" id="maxFreqBlue" name="maxFreqBlue" value="2000">
        <div class="slider" id="freqBlue"></div>
      </div>
    </div>
    
    <div class="setting">
      <h3>Sleep settings</h3>
      <div class="slider-container">
        <label for="minSleep">Min sleep time:</label>
        <input type="text" id="minSleep" name="minSleep" value="0.1">
        <label for="maxSleep">Max sleep time:</label>
        <input type="text" id="maxSleep" name="maxSleep" value="0.5">
        <div class="slider" id="sleepSlider"></div>
      </div>
    </div>

    <div class="setting">
      <h3>Premade Settings</h3>
      <select id="premadeSettings">
        <option value="">Select a setting</option>
        <option value="redFlame">Rred flame</option>
        <option value="greenFlame">Green flame</option>
        <option value="blueFlame">Blue flame</option>
      </select>
    </div>

    <button type="submit">Start fireplace</button>
  </form>

  <h2>Color picker</h2>
  <form action="{{ url_for('process_colorpicker') }}" method="post">
    <label for="favcolor">Select your favorite color:</label>
    <input type="color" id="favcolor" name="favcolor" value="#ff0000">
    <button type="submit">Show color</button>
  </form>
</body>
</html>