
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- <meta http-equiv="Content-Type" content="application/json"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script>
      $(function() {
  function createSlider(sliderContainer, lowerInput, higherInput, minValue, maxValue) {
    var lowerValue = parseInt($(lowerInput).val());
    var higherValue = parseInt($(higherInput).val());

    $(sliderContainer).slider({
      range: true,
      min: minValue,
      max: maxValue,
      values: [lowerValue, higherValue],
      slide: function(event, ui) {
        if (ui.values[0] >= ui.values[1]) {
          return false;
        }
        $(lowerInput).val(ui.values[0]);
        $(higherInput).val(ui.values[1]);
      }
    });

    $(lowerInput).change(function() {
      var value = parseInt($(this).val());
      if (value < $(sliderContainer).slider("option", "min")) {
        value = $(sliderContainer).slider("option", "min");
      } else if (value > $(higherInput).val()) {
        value = $(higherInput).val();
      }
      $(sliderContainer).slider("values", 0, value);
      $(this).val(value);
    });

    $(higherInput).change(function() {
      var value = parseInt($(this).val());
      if (value > $(sliderContainer).slider("option", "max")) {
        value = $(sliderContainer).slider("option", "max");
      } else if (value < $(lowerInput).val()) {
        value = $(lowerInput).val();
      }
      $(sliderContainer).slider("values", 1, value);
      $(this).val(value);
    });
  }     

        // var minDefaultValue = 0;
        // var maxDefaultValue = 100;
        createSlider("#brightnessRed", "#minBrightnessRed", "#maxBrightnessRed", 0, 100);
        createSlider("#freqRed", "#minFreqRed", "#maxFreqRed", 0, 100);

        createSlider("#brightnessGreen", "#minBrightnessGreen", "#maxBrightnessGreen", 0, 100);
        createSlider("#freqGreen", "#minFreqGreen", "#maxFreqGreen", 0, 100);

        createSlider("#brightnessBlue", "#minBrightnessBlue", "#maxBrightnessBlue", 0, 100);
        createSlider("#freqBlue", "#minFreqBlue", "#maxFreqBlue", 0, 100);

        // createSlider("#sleep", "#minSleep", "#maxSleep", 0, 0.5);
      });


      // function createSlider(sliderId, amountId, minValue, maxValue, startValues) {
      //   $( "#" + sliderId ).slider({
      //     range: true,
      //     min: minValue,
      //     max: maxValue,
      //     values: startValues,
      //     slide: function( event, ui ) {
      //       $( "#" + amountId ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      //     }
      //   });
      //   $( "#" + amountId ).val( "$" + $( "#" + sliderId ).slider( "values", 0 ) +
      //     " - $" + $( "#" + sliderId ).slider( "values", 1 ) );
      // }
      
      // $( function() {
      //   $( "#slider-range" ).slider({
      //     range: true,
      //     min: 0,
      //     max: 100,
      //     values: [ 75, 300 ],
      //     slide: function( event, ui ) {
      //       $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      //       $( "#slider-values" ).val(ui.values[0] + "," + ui.values[1]);
      //     }
      //   });
        
      //   // Set the initial values for the slider and the hidden input element
      //   $( "#slider-values" ).val($( "#slider-range" ).slider( "values", 0 ) + "," + $( "#slider-range" ).slider( "values", 1 ));
      //   $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      //     " - $" + $( "#slider-range" ).slider( "values", 1 ) );
      // });
    </script>
    <style>
      .slider {
        width:25%;
      }
    </style>
  </head>
  <body>
    <!-- <h1>Ledstrip</h1>
    <h2>Red</h2>
    <button id="RedOnButton" name="RedOnButton">ON</button>
    <button id="RedOffButton" name="RedOffButton">OFF</button><br>
    <button id="RedPulseOnButton" name="RedPulseOnButton">Pulse ON</button>
    <button id="RedPulseOffButton" name="RedPulseOffButton">Pulse OFF</button><br>
    <button id="RedFadeOutOnButton" name="RedFadeOutOnButton">Fade out ON</button>
    <button id="RedFadeOutOffButton" name="RedFadeOutOffButton">Fade out OFF</button><br>
    <button id="RedFadeInOnButton" name="RedFadeInOnButton">Fade in ON</button>
    <button id="RedFadeInOffButton" name="RedFadeInOffButton">Fade in OFF</button><br>

    <h2>Green</h2>
    <button id="GreenOnButton" name="GreenOnButton">ON</button>
    <button id="GreenOffButton" name="GreenOffButton">OFF</button><br>
    <button id="GreenPulseOnButton" name="GreenPulseOnButton">Pulse ON</button>
    <button id="GreenPulseOffButton" name="GreenPulseOffButton">Pulse OFF</button><br>
    <button id="GreenFadeOutOnButton" name="GreenFadeOutOnButton">Fade out ON</button>
    <button id="GreenFadeOutOffButton" name="GreenFadeOutOffButton">Fade out OFF</button><br>
    <button id="GreenFadeInOnButton" name="GreenFadeInOnButton">Fade in ON</button>
    <button id="GreenFadeInOffButton" name="GreenFadeInOffButton">Fade in OFF</button><br>

    <h2>Blue</h2>
    <button id="BlueOnButton" name="BlueOnButton">ON</button>
    <button id="BlueOffButton" name="BlueOffButton">OFF</button><br>
    <button id="BluePulseOnButton" name="BluePulseOnButton">Pulse ON</button>
    <button id="BluePulseOffButton" name="BluePulseOffButton">Pulse OFF</button><br>
    <button id="BlueFadeOutOnButton" name="BlueFadeOutOnButton">Fade out ON</button>
    <button id="BlueFadeOutOffButton" name="BlueFadeOutOffButton">Fade out OFF</button><br>
    <button id="BlueFadeInOnButton" name="BlueFadeInOnButton">Fade in ON</button>
    <button id="BlueFadeInOffButton" name="BlueFadeInOffButton">Fade in OFF</button><br> -->

    <h1>Fireplace</h1>
    
    <form action="{{ url_for('process_form') }}" method="post">
      <!-- <input type="text" name="projectFilepath">
      <input type="submit">
  </form> -->
  
      <!-- <label for="name">Name:</label> -->
      <!-- <input type="text" id="name" name="testName"> -->
      <!-- <label for="testSlider">Default range slider:</label> -->
      <!-- <input type="range" min="1" max="100" value="50" name="testSlider"> -->
      
      <!-- <div id="slider-range"></div> -->
      <!-- <input type="hidden" id="slider-values" name="sliderValues"> -->
      <!-- <input type="hidden" id="slider-values" name="testSlider">
      <input type="submit" value="Submit"> -->


      <!-- <label for="red_duty_cycle_slider">Slider 1:</label>
      <div id="red_duty_cycle_slider></div>
      <input type="text" id="red_duty_cycle_slider" readonly style="border:0; color:#f6931f; font-weight:bold;">
      <br><br>
      
      <label for="red_frequency_slider">Slider 2:</label>
      <div id="red_frequency_slider></div>
      <input type="text" id="red_frequency_slider" readonly style="border:0; color:#f6931f; font-weight:bold;">
      <br><br>
      
      <input type="submit" value="Submit"> -->

      <h2>Red settings</h2>
      <label for="minBrightnessRed">Min brightness:</label>
      <input type="text" id="minBrightnessRed" name="minBrightnessRed" value="0">
    
      <label for="maxBrightnessRed">Max brightness:</label>
      <input type="text" id="maxBrightnessRed" name="maxBrightnessRed" value="100">
    
      <div class="slider" id="brightnessRed"></div>
    
      <label for="minFreqRed">Min frequency:</label>
      <input type="text" id="minFreqRed" name="minFreqRed" value="0">
    
      <label for="maxFreqRed">Max frequency:</label>
      <input type="text" id="maxFreqRed" name="maxFreqRed" value="100">
    
      <div class="slider" id="freqRed"></div>

      <!------------------------------------------------->

      <h2>Green settings</h2>
      <label for="minBrightnessGreen">Min brightness:</label>
      <input type="text" id="minBrightnessGreen" name="minBrightnessGreen" value="0">
    
      <label for="maxBrightnessGreen">Max brightness:</label>
      <input type="text" id="maxBrightnessGreen" name="maxBrightnessGreen" value="100">
    
      <div class="slider" id="brightnessGreen"></div>
    
      <label for="minFreqGreen">Min frequency:</label>
      <input type="text" id="minFreqGreen" name="minFreqGreen" value="0">
    
      <label for="maxFreqGreen">Max frequency:</label>
      <input type="text" id="maxFreqGreen" name="maxFreqGreen" value="100">
    
      <div class="slider" id="freqGreen"></div>

      <!------------------------------------------------->

      <h2>Blue settings</h2>
      <label for="minBrightnessBlue">Min brightness:</label>
      <input type="text" id="minBrightnessBlue" name="minBrightnessBlue" value="0">
    
      <label for="maxBrightnessBlue">Max brightness:</label>
      <input type="text" id="maxBrightnessBlue" name="maxBrightnessBlue" value="100">
    
      <div class="slider" id="brightnessBlue"></div>
    
      <label for="minFreqBlue">Min frequency:</label>
      <input type="text" id="minFreqBlue" name="minFreqBlue" value="0">
    
      <label for="maxFreqBlue">Max frequency:</label>
      <input type="text" id="maxFreqBlue" name="maxFreqBlue" value="100">

      <div class="slider" id="freqBlue"></div>

      <!------------------------------------------------->

      <h2>Sleep</h2>

      <label for="minSleep">Min sleep:</label>
      <input type="text" id="minSleep" name="minSleep" value="0">
    
      <label for="maxSleep">Max sleep:</label>
      <input type="text" id="maxSleep" name="maxSleep" value="100">     

      <div class="slider" id="sleep"></div>

      <!------------------------------------------------->
      
      <button type="submit">Set</button>
    </form>
    <script>

      // // Load data from JSON file
      // function fetchJSON() {
      //   const url = `gpio_states.json`;
      //   fetch(url)
      //   .then(response => response.json())
      //   .then(data => {
      //     // Update webpage with GPIO state data
      //     document.getElementById('gpio12').innerText = data.gpio12;
      //   });
      // }

      // function sendRequest(pin, state) {

      // }
      
      // RedOnButton.addEventListener('click', function() {
      //   var xhr = new XMLHttpRequest();
      //   xhr.open('GET', '/gpio?pin=12&state=1', true);
      //   xhr.send();
      //   fetchJSON();
      //   setInterval(fetchJSON, 500);
      // });

      // RedOffButton.addEventListener('click', function() {
      //   var xhr = new XMLHttpRequest();
      //   xhr.open('GET', '/gpio?pin=12&state=0', true);
      //   xhr.send();

      //   fetchJSON();
      //   setInterval(fetchJSON, 500);
      // });

      // GreenOnButton.addEventListener('click', function() {
      //   var xhr = new XMLHttpRequest();
      //   xhr.open('GET', '/gpio?pin=13&state=1', true);
      //   xhr.send();
      //   fetchJSON();
      //   setInterval(fetchJSON, 500);
      // });

      // GreenOffButton.addEventListener('click', function() {
      //   var xhr = new XMLHttpRequest();
      //   xhr.open('GET', '/gpio?pin=13&state=0', true);
      //   xhr.send();

      //   fetchJSON();
      //   setInterval(fetchJSON, 500);
      // });

      // BlueOnButton.addEventListener('click', function() {
      //   var xhr = new XMLHttpRequest();
      //   xhr.open('GET', '/gpio?pin=18&state=1', true);
      //   xhr.send();
      //   fetchJSON();
      //   setInterval(fetchJSON, 500);
      // });

      // BlueOffButton.addEventListener('click', function() {
      //   var xhr = new XMLHttpRequest();
      //   xhr.open('GET', '/gpio?pin=18&state=0', true);
      //   xhr.send();

      //   fetchJSON();
      //   setInterval(fetchJSON, 500);
      // });

      // function sendCommand(pin, state) {
      //   var xhr = new XMLHttpRequest();
      //   xhr.open('GET', `/gpio?pin=${pin}&state=${state}`, true);
      //   xhr.send();
      //   fetchJSON();
      //   setInterval(fetchJSON, 500);
      // }

      // RedOnButton.addEventListener('click', () => sendCommand(12, 1));
      // RedOffButton.addEventListener('click', () => sendCommand(12, 0));
      // GreenOnButton.addEventListener('click', () => sendCommand(13, 1));
      // GreenOffButton.addEventListener('click', () => sendCommand(13, 0));
      // BlueOnButton.addEventListener('click', () => sendCommand(18, 1));
      // BlueOffButton.addEventListener('click', () => sendCommand(18, 0));
  </script>
  </body>
</html>